/* Default classes */
button {
  border-radius: 2px;
  padding: 5px 25px;
  background-color: #22262a;
  color: #22262a;
  border: 2px solid #22262a;
}
.white-text {
  color: #fafafb !important;
}
/* Large */
.button-large {
  padding: 10px 25px;
  font-size: 80%;
}
/* Standard Class */
.button-primary {
  background-color: #33a0ff;
  color: #33a0ff;
  border: 2px solid #33a0ff;
}
.button-danger {
  background-color: #ff4252;
  color: #ff4252;
  border: 2px solid #ff4252;
}
.button-success {
  background-color: #0ad00a;
  color: #0ad00a;
  border: 2px solid #0ad00a;
}
.button-warning {
  background-color: #ffc600;
  color: #ffc600;
  border: 2px solid #ffc600;
}
/* Outline Class */
.button-outline {
  background-color: #fafafb;
}
/* Hover Classes */
.button-primary-hover:hover {
  background-color: #2e90e5;
  border: 2px solid #2e90e5;
}
.button-danger-hover:hover {
  background-color: #f53848;
  border: 2px solid #f53848;
}
.button-success-hover:hover {
  background-color: #07c107;
  border: 2px solid #07c107;
}
.button-warning-hover:hover {
  background-color: #ebb600;
  border: 2px solid #ebb600;
}
.button-default-hover:hover {
  background-color: #13161a;
  border: 2px solid #13161a;
}
/* Faded */
.button-primary-faded {
  background-color: #33a0ff33;
  color: #33a0ff;
  border: none;
}
.button-danger-faded {
  background-color: #f5384833;
  color: #ff4252;
  border: none;
}
.button-success-faded {
  background-color: #07c10733;
  color: #0ad00a;
  border: none;
}
.button-warning-faded {
  background-color: #ebb60033;
  color: #ffc600;
  border: none;
}
.button-default-faded {
  background-color: #22262a33;
  color: #22262a;
  border: none;
}
.button-icons {
  padding: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image-text {
  padding-left: 10px;
}
