.input {
  padding: 5px 100px 5px 8px;
  font-size: 60%;
  color: #22262a;
}
.input-medium {
  padding: 9px 100px 9px 8px;
  font-size: 65%;
}
.input-large {
  padding: 13px 100px 13px 8px;
  font-size: 70%;
}
label {
  font-size: 75%;
}
.select {
  display: block;
  color: #22262a;
  line-height: 1.3;
  padding: 5px 50px 5px 8px;
  width: 8%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #f1f3f4;
  border-radius: 2px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-image: url("../Icons/arrow.svg");
  background-repeat: no-repeat, repeat;
  background-position: right 0.7em top 50%, 0 0;
  background-size: 0.65em auto, 100%;
  background-color: white;
}
.select-medium {
  padding: 9px 100px 9px 8px;
  width: 12%;
}
.select-large {
  padding: 13px 100px 13px 8px;
  width: 12%;
}
.select-shaded {
  background-color: #22262a0f;
}
.counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 2px;
  overflow: hidden;
  width: 80px;
  height: 33px;
}
.counter-subtract {
  background-color: #22262a0f;
  color: #33a0ff;
  font-weight: 700;
  border: none;
  padding: 10px;
  width: 33.333%;
  border-radius: 2px 0 0 2px;
  font-size: 12px;
  border-radius: 0;
}
.counter-add {
  background-color: #22262a0f;
  color: #33a0ff;
  font-weight: 700;
  border: none;
  padding: 10px;
  width: 33.333%;
  border-radius: 0 2px 2px 0;
  font-size: 12px;
  border-radius: 0;
}
.counter-number {
  background-color: #22262a0f;
  border: none;
  font-size: 12px;
  height: 100%;
  width: 33%;
  border-radius: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-button-form {
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid #f1f3f4;
  height: 33px;
  width: 200px;
  border-style: border-box;
  border-radius: 2px;
  overflow: none;
}
.input-button-text {
  height: 100%;
  width: 66.6666%;
  padding: 0 0 0 8px;
  font-size: 60%;
  border-style: border-box;
  border: none;
}
.input-button-button {
  height: 100%;
  width: 33.3333%;
  color: white;
  background-color: #33a0ff;
  border: none;
  border-radius: 0 2px 2px 0;
  display: flex;
  justify-content: center;
}
.form-large {
  width: 250px;
  height: 45px;
}
.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.popup {
  margin-left: 10px;
}
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.checkmark {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15px;
  width: 15px;
  background-color: #fafafb;
  border: 2px solid #22262a;
  border-radius: 2px;
}
.container input:checked ~ .checkmark {
  background-color: #22262a;
}
.checkmark:after {
  content: "";
  display: none;
}
.container input:checked ~ .checkmark:after {
  display: block;
}
.container-blue input:checked ~ .checkmark {
  background-color: #33a0ff;
}
.checkmark-blue {
  border: 2px solid #33a0ff;
}
